target/
frontend/node_modules/
frontend/dist/
**/target/
tomcat.*/
**/tomcat.*/
.m2/
.tools/
.env
/storage/
database/backups/
.env.*
!.env.example

### IDE ###
.idea/
**/.idea/
.vscode/
*.iml
*.ipr
*.iws
