target/
frontend/node_modules/
/postman/node_modules/
frontend/dist/
**/target/
tomcat.*/
**/tomcat.*/
.m2/
.tools/
.env
/storage/
database/backups/
/release/
.env.*
!.env.example

### Runtime logs ###
*.log

### IDE ###
.idea/
**/.idea/
.vscode/
*.iml
*.ipr
*.iws
